.App {
  text-align: center;
  margin: 20px;
  font-family: Arial, sans-serif;
  font-size: x-large;
}

.todo-container {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  max-width: 400px;
  margin: auto;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  background: linear-gradient(135deg, #fa8f04, #00c6ff); /* Gradient colors */
  color: green;;
}

h1 {
  margin-bottom: 20px;
  color: green;
}

input {
  padding: 15px;
  margin-right: 5px;
  margin-top: 25px; /*Helped me to separate the input field from the span element */
  border: 1px solid #ccc;
  border-radius: 4px;
  width: calc(100% - 100px);
}

button {
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  background: linear-gradient(135deg, #724100, #00c6ff);
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 50px;
}

button:hover {
  background: linear-gradient(135deg, #0044ff, #af0f8c);
 
}

nav {
  margin: 20px 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #eee;
}

li:last-child {
  border-bottom: none;
}
.completed {
  text-decoration: line-through;
  color: gray;
}

.delete-button {
  background-color: #dc3545;
  margin-top: 0px;
}

.delete-button:hover {
  background-color: #c82333;
}

.deleted {
  text-decoration: line-through;
  color: red;
}
.glowing {
  color: white;
  font-size: 40px; 
  text-shadow: 
    0 0 5px rgba(255, 255, 255, 0.6),
    0 0 10px rgba(255, 255, 255, 0.8), 
    0 0 15px rgb(0, 255, 157), 
    0 0 20px rgb(0, 247, 255), 
    0 0 25px rgb(0, 255, 128); 
  animation: glow 1.5s infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 
      0 0 5px rgba(255, 255, 255, 0.6), 
      0 0 10px rgba(255, 255, 255, 0.8), 
      0 0 15px rgb(0, 255, 157),
      0 0 20px rgb(0, 247, 255), 
      0 0 25px rgb(0, 255, 128); 
  }
  to {
    text-shadow: 
      0 0 10px rgba(255, 255, 255, 0.8), 
      0 0 20px rgb(251, 255, 0), 
      0 0 20px rgb(251, 255, 0), 
      0 0 20px rgb(251, 255, 0), 
      0 0 20px rgb(251, 255, 0); 
  }
}
span {
  cursor: pointer;
}
.clear-button {
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 10px;
  margin-left: 50px;
}


