.navbar {
  display: flex;
  align-items: center;
  background: linear-gradient(135deg, #fa8f04, #00c6ff);
  color: green;
  padding: 0px 20px;
  border-radius: 1100px;
  margin-bottom: 50px;
  font-size: x-large;
}

.navbar-title {
  margin: 0;
  padding-left: 10px;
}

.navbar-logo {
  width: 50px; 
  height: auto; 
}

.navbar-buttons {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.navbar-buttons button {
  margin-left: 5px;
  margin-top: 5px;
  background: linear-gradient(135deg, #fa8f04, #00c6ff);
  color: green;
  border: none;
  border-radius: 100px;
  padding: 8px 12px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: x-large;
}

.navbar-buttons button:hover {
  background: linear-gradient(135deg, #0044ff, #af0f8c);
}

.hamburger {
  font-size: x-large;
  background: transparent;
  border: none;
  color: green;
  cursor: pointer;
  display: none; 
}

.mobile-menu {
  position: absolute;
  top: 70px;
  right: 10px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.mobile-menu button {
  margin: 5px 0;
}

/* Media Queries */
@media (max-width: 768px) {
  .desktop-menu {
      display: none;
  }

  .hamburger {
      display: block;
  }
}

@media (min-width: 769px) {
  .hamburger {
      display: none;
  }

  .mobile-menu {
      display: none;
  }
}
